/** COMPUTER VIEW   **/

@media (min-width: 1045px) {
    section.info div {
        display: inline;
        width: 50%;
        text-align: center;
    }
    .outer-col-1 {
        width: 17%;
    }
    .outer-col-2 {
        margin-left: 17%;
        width: 100%;
        height: 100%;
    }
    .list>li>a,
    .list>li>b {
        height: 50px;
        padding-left: 20px;
        width: 100%;
        align-items: center;
        display: flex;
    }
    .outer-col-1 {
        position: fixed;
        height: 100%;
        color: white;
        background: black;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .outer-col-1 .me hr {
        border: 1px solid;
        color: deepskyblue;
    }
    /*****************/
    /*  NAVIGATION   */
    /*****************/
    :root {
        --hauteur-menu: 10px;
    }
    .outer-col-1 hr {
        border: 1px solid;
        color: deepskyblue;
    }
    .menu a#semestre {
        font-size: 20px;
    }
    nav {
        position: sticky;
        top: 0;
    }
    nav>ul {
        display: flex;
        text-align: center;
        box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
        height: var(--hauteur-menu);
    }
    nav ul {
        list-style: none;
    }
    nav>ul>li {
        background-color: antiquewhite;
        position: relative;
        height: 100%;
        flex: 1;
    }
    nav>ul>li>a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    li {
        padding: 3%;
    }
    li a {
        text-decoration: none;
        color: black;
    }
    li>b {
        padding: 8%;
        text-decoration: none;
        color: black;
    }
    .menu>a:after {
        content: 'â¯';
        font-size: 15px;
        margin-left: 7px;
        display: inline-block;
    }
    .list {
        margin-top: var(--hauteur-menu);
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        text-align: left;
        background-color: white;
        border-radius: 2px;
        overflow: hidden;
        max-height: 0;
    }
    nav>ul>li:hover>a {
        color: #2169EC;
    }
    .list>li:hover {
        background-color: rgba(33, 105, 236, 0.3);
    }
    .list>li:hover>a {
        color: white;
    }
    @keyframes rotationFleche {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(90deg);
        }
    }
    @keyframes apparitionSousMenu {
        0% {
            box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
            border-top: 3px solid deepskyblue;
        }
        30% {
            box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
        }
        100% {
            max-height: 50em;
            border-top: 3px solid deepskyblue;
            box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
        }
    }
    .menu:hover>a:after {
        animation: rotationFleche 0.2s linear forwards;
    }
    .menu:hover>.list {
        animation: apparitionSousMenu 1s forwards;
    }
}


/** MOBILE VIEW **/

@media (max-width: 1045px) {
    .me {
        text-align: center;
    }
    .me img {
        width: 95%;
        height: 95%;
    }
    body {
        height: auto;
        font-family: system-ui, sans-serif;
    }
    .outer-col-1 hr,
    .outer-col-1 li.menu {
        height: 0;
        visibility: hidden;
    }
    .outer-col-1 {
        width: 12%;
        position: fixed;
        height: 100%;
        background-color: black;
    }
    .outer-col-2 {
        margin-left: 12%;
        width: 100%;
    }
    section.info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section.info div {
        width: 100%;
        text-align: center;
    }
    div#tech {
        margin-top: 3%;
    }
    div#tech h3 {
        font-size: 20px;
    }
    p.category {
        font-size: 0;
    }
    .list {
        overflow: hidden;
        max-height: 0;
    }
    /*****************/
    /*  NAVIGATION   */
    /*****************/
}

* {
    box-sizing: border-box;
}

.category {
    font-weight: bold;
    font-size: 25px;
    font-family: system-ui, sans-serif;
}

body {
    background: rgb(235, 243, 243);
    min-height: 100vh;
    margin: 0;
    display: flex;
    margin-bottom: 20px;
}

img {
    margin-top: 5%;
}

ul {
    font-family: system-ui, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

a:link {
    color: deepskyblue;
}

a:visited {
    color: deepskyblue;
}

.pdf {
    display: flex;
    width: 100%;
}

/* Style buttons */

.btn {
    background-color: deepskyblue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}


/* Darker background on mouse-over */

.btn:hover {
    background-color: RoyalBlue;
}

.pdf  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2%;
}
.pdf hr {
    border: 2px solid;
    color: goldenrod;
}
/* RETEX */
section.retex {
    width: 100%;
    text-align: center;
    margin-top: 2%;
}
section.retex div.images img {
    max-width: 100%;
}
.retex hr {
    border: 2px solid;
    color: goldenrod;
}
.retex p {
    margin-left: 5%;
    margin-right: 5%;
}
.context {
    padding-left: 20%;
    padding-right: 20%;
}
.context hr, .images hr, .embed hr {
    border: 1px solid;
}
.context h2, .images h2, .embed h2 {
    font-size: large;
}
.images img {
    width: 50%;
    height: auto ;
    border-radius: 2%;
}